name: Site
elb: site
region_name: us-east-1
rules:
  - url: main.host
    expected_status: 200
  - url: host1
    expected_status: 301
    expected_target: main.host
  - url: host2
    expected_status: 302
    expected_target: main.host
